{% extends 'index.html'%}{% block content%}
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} <br />
  NumPlate:<input type="text" id="NumPlate" name="NumPlate" /><br />
  <input type="submit" value="submit" />
</form>
{{message}} {% endblock %}
