<html>
  <title>Logistics</title>
  {% load static %}
  <br />
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <body>
    <center>
      <head>
        Logistics
        <a href="{% url 'book' %}">Law Enforcer</a>
        <hr />
      </head>
      {% block content %}{% endblock %}
    </center>
  </body>
</html>
